* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-primary {
  color: #3fa9fa;
}

.bg-primary {
  background-color: #3fa9fa;
}

.bg-primary-light-2 {
  background-color: #65bafb;
}

.bg-primary-light-4 {
  background-color: #8ccbfc;
}

.bg-primary-light-6 {
  background-color: #b2ddfd;
}

.bg-primary-light-8 {
  background-color: #d9eefe;
}

.bg-primary-dark-2 {
  background-color: #3287c8;
}

.bg-primary-dark-4 {
  background-color: #266596;
}

.bg-primary-dark-6 {
  background-color: #194464;
}

.bg-primary-dark-8 {
  background-color: #0d2232;
}

.text-secondary {
  color: rgb(243, 68, 98);
}

.bg-secondary {
  background-color: rgb(243, 68, 98);
}

.text-error {
  color: red;
}

.bg-error {
  background-color: red;
}

.text-info {
  color: yellow;
}

.bg-info {
  background-color: yellow;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-hover-orange-light-1:hover {
  color: #ffaf1a;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 2px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #3fa9fa;
}
.btn-primary:hover {
  background-color: #58b4fb;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #3fa9fa;
  color: white;
}
.btn-complement-primary:hover {
  color: #3fa9fa;
  background-color: white;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: rgb(243, 68, 98);
}
.btn-secondary:hover {
  background-color: #f55c76;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: red;
}
.btn-error:hover {
  background-color: #ff1a1a;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: yellow;
}
.btn-info:hover {
  background-color: #ffff1a;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #9900ff;
}
.btn-outlined-purple:hover {
  background-color: #9900ff;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
  color: #e0ffcc;
}
.btn-complement-purple:hover {
  color: #9900ff;
  background-color: #e0ffcc;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.br {
  border-radius: 20px;
}

.font-sm {
  font-size: 0.7rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}