@import "./variables";

h1 {
  color: $primary;
  margin-bottom: $base-margin;
}
a {
  color: $secondary;
}
button {
  color: white;
  border: 0;
  background-color: $primary;
  border-radius: $base-border-radius;
  padding: $base-padding;
}

.error {
  color: $error;
  border: $error solid $base-border-thickness;
  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
}

.notification {
  color: $secondary;
  border-color: $secondary;
  border-style: solid;

  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}
